@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('./fonts.css');


html {
  @apply 
  w-screen h-screen
  ;
}


body {
  @apply 
  bg-royal
  overflow-hidden
  h-full w-full
  ;
}

.app-body {
  @apply
  w-full h-[100vh]
  flex flex-col 

  sm:pt-12
  md:pt-12
  lg:pt-16
  xl:pt-24
  /* sm:px-0
  md:px-10
  lg:px-32
  xl:px-52 */
  ;
}

.page-body {
  @apply
  w-full flex-1 min-h-[100%] py-10

  sm:py-4
  md:py-4
  lg:py-6
  xl:py-10
  
  sm:px-0 
  md:px-4 
  lg:px-6 
  xl:px-10 
  ;
}


.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  overflow: -moz-scrollbars-none; /* Firefox */
  -webkit-scrollbar: none; /* Chrome, Safari, Opera */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}



.content-padding {
  @apply
  sm:px-0
  md:px-10
  lg:px-20
  xl:px-32
  ;
}
